# Python相关
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 虚拟环境
env/
venv/
ENV/
VENV/
*.env
*.venv

# IDE相关
.idea/
.vscode/
*.swp

# 日志和数据库
*.log
*.sqlite3

# 测试覆盖率
htmlcov/
*.cover
*.coverage
*.coverage.*

# 打包相关
*.egg
*.egg-info/
dist/
build/
*.wheel

# Jupyter Notebook
.ipynb_checkpoints/

# 系统文件
.DS_Store
Thumbs.db

.streamlit
**/node_modules/
test*
**/package-lock.json
poetry.lock
pyproject.toml